<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Http/2 Benchmark</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/jquery.bootgrid.min.css"/>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.bootgrid.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/sylvester.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/underscore.math.js"></script>
</head>
<body>
Small Object!
</body>
</html>
